OPENAI_API_KEY=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
QDRANT_URL=https://306fcfa9-a2fe-4958-8caa-be9a89d68aef.eu-central-1-0.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6ZDlmNTUyMTUtYWM2Mi00NzA2LThhMTAtYjEyNDM5MDQ0ZThiIn0.5aR6J1nWhY3utq_w4jCM5KyMyIYbn7A4Su2I_JDVPxg